.header{
  width: 100vw;
  background: blue;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
}

.header .link{
  font-size: 20px;
  color: yellow;
}

.header .link:hover{
  color: red;
}
