#price-controller{
  height: 9%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5px;
}

.settings{
  display: flex;
  column-gap: 10px;
}

#price-controller > *{
  padding-left: 20px;
}

.settings p{
  color: black;
}
